<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688585048907-q8mnov37m40ihibuuvtrliliglhprkku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688585048907-q8mnov37m40ihibuuvtrliliglhprkku</string>
	<key>API_KEY</key>
	<string>AIzaSyBIqdkQhMqh-GQQCxRsf92q_cpCbQB3KsE</string>
	<key>GCM_SENDER_ID</key>
	<string>688585048907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stn.Say-Their-Names</string>
	<key>PROJECT_ID</key>
	<string>say-their-names-test</string>
	<key>STORAGE_BUCKET</key>
	<string>say-their-names-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:688585048907:ios:85535eacbe61cce7a79ece</string>
	<key>DATABASE_URL</key>
	<string>https://say-their-names-test.firebaseio.com</string>
</dict>
</plist>
